.centrage{
    margin : 0 auto;
    padding-bottom: 20px;

}

.liststylenone{
    
    list-style-type: none;
}

.largeur{
    width : 1000px;
}

.maxlarg{
    width : 100%;
    display : table;
}

.rightalign{
    text-align: right;
}

.log{
    width : 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.marg{
    margin-top: 15px;

}

.margleft{
    margin-left : 15px;
}

.padding{
   
    padding-top : 15px;
   
}

.register{
    top : 220px;
    right : 400px;
    left : 400px;
    bottom : 300px;
}

.register_presta{
    top : 220px;
    right : 400px;
    left : 400px;
    bottom : 120px;
}



.search{
    /*border: 1px solid #fff;*/
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 300;
    left: 30%;
    padding: 6px 15px;
    position: absolute;
    text-align: center;
    top: 30%;
    transform: translateX(95%) translateY(-50%);
    transition: all linear 0.12s;
    white-space: nowrap;
    z-index: 2; }



.form-group .checkbox input[type=checkbox]{

    display:inline-block !important;

}

.bottom{
    margin-bottom : 15px;
}
