{% block content %}
    
    <div class="page-header">
        <h1>Les meilleurs centres de bien-être</h1>
        <p>Retrouver ici la liste des centres de bien-être sélectionnés <br>par les clients et classés par localité.</p>
    </div><!-- /.page-header -->

    <div class="cards-simple-wrapper largeur centrage" >


        
            {% for u in utilisateur|slice(0,8) %}
                <div class="col-sm-6 col-md-3">
                    <div class="card-simple" data-background-image= {% for i in image%}{{i.url}}{%endfor%}>
                        <div class="card-simple-background">
                            <div class="card-simple-content">
                                <h2><a href="#">{{u.nomUtilisateur}}</a></h2>
                                <div class="card-simple-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div><!-- /.card-rating -->
                                <div class="card-simple-actions">
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                    <a href="#" class="fa fa-search"></a>
                                    <a href="#" class="fa fa-heart-o"></a>
                                </div><!-- /.card-simple-actions -->
                            </div><!-- /.card-simple-content -->
                            <div class="card-simple-label">{{ u.localite.localite }}</div>

                        </div><!-- /.card-simple-background -->
                    </div><!-- /.card-simple -->
                </div><!-- /.col-* -->
            {% endfor %}
    </div><!-- /.cards-simple-wrapper -->
{% endblock %}