<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block content %}
            
            <ul>
                
                {% for a in utilisateur %}
                    
                    <li>
                        {{ a.nom }},{{ a.email }}
                    </li>
                    
                {% endfor %}    
            </ul>    
        {% endblock %}
    </body>
</html>
