{% extends "layout/layout.html.twig" %}
{% block content %}
 <div class="cards-simple-wrapper largeur centrage">

    <div class="content">
        <div class="page-title">
            <h1>Liste de stages</h1>
        </div><!-- /.page-title -->

        <div class="posts posts-condensed">
            {% for s in stage %}
                <div class="post">
                    <div class="post-date">{{s.hdebut|date('d-m-Y')}}</div><!-- /.post-date -->

                    <div class="post-image">
                        <a href="blog-detail.html">
                            <img src=# alt="">
                        </a>
                    </div><!-- /.post-image -->

                    <div class="post-content">
                        <h2><a href="{{path('show_stage', {slug:s.nom})}}">{{s.nom}}</a></h2>
                        <p> <p>{{s.description}}</p></p>
                    </div><!-- /.post-content -->

                    
                </div><!-- /.post -->


            {% endfor %}
        </div><!-- /.posts -->





    </div><!-- /.content -->
 </div>

{% endblock %}