<h1>Demande d'ajout de catégorie</h1>
<p>Bonjour Administrateur, Vous avez reçu une nouvelle demande de création de catégorie : {{categorie.nomCategorie}}</p>
<p>Vous pouvez traiter cette demande en cliquant sur ce lien : <a href="http://localhost:8888{{path('update_categorie',{'id':categorie.id})}}">Cliquez ici !</a>
   